{

    "_comment1":"this is the port that our server will be listening to",
    "logMessage":"boot boot config fadi 1 ",
    "port": 8080,

    "_comment2":"elasticSearch (for search requests)",
    "elasticHost":"elastic",
    "elasticPort": 9200,
    "additionalElasticPort": 9201,

    "_comment3":"kafka (for indexing data)",
    "kafkaHost":"kafka",
    "kafkaPort": 9092

}