<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mappers.UserMapper">
    <resultMap id="userMap" type="models.User">
        <constructor>
            <idArg column="ID" javaType="int"/>
            <arg column="NAME" javaType="String"/>
            <arg column="TOKEN" javaType="String"/>
            <arg column="ES_INDEX_NAME" javaType="String"/>
        </constructor>
    </resultMap>
    <select id="getUserByToken" parameterType="String" resultMap="userMap">
        SELECT * FROM Users WHERE TOKEN = #{value}
    </select>

    <insert id="insert" parameterType="models.User">
        INSERT INTO Users ( NAME, TOKEN ,ES_INDEX_NAME) VALUES (#{name}, #{token}, #{esIndexName} );
        <selectKey keyProperty = "TOKEN" resultType = "int" order = "AFTER">
            select last_insert_id() as id
        </selectKey>
    </insert>

</mapper>


